body {
  font-family: Arial, sans-serif;
  text-align: center;
}

header h1 {
  color: #45a049;
}

#players {
  margin: 10px 0;
  list-style: none;
  padding: 0;
}

#players li {
  display: inline-block;
  margin: 0 10px;
  font-weight: bold;
}

#task {
  font-size: 1.5rem;
  margin: 20px 0;
  color: #333;
}

.card {
  cursor: pointer;
  margin: 10px;
  width: 80px;
  height: 120px;
}

.card:hover {
  transform: scale(1.1);
}

#current-player {
  color: #45a049; /* Couleur verte */
  font-weight: bold;
}

#restart-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: #45a049;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#restart-button:hover {
  background-color: #388e3c;
}
#task {
  color: #ff5722; /* Couleur personnalisée pour la phrase */
  font-weight: bold; /* Mettre le texte en gras pour le mettre en valeur */
  font-size: 1.6rem; /* Taille légèrement augmentée */
  margin: 20px 0; /* Espacement pour une meilleure visibilité */
}
